<!-- <div class="book">
  <h3>Hey, I Wrote a Book!</h3>
  <div class="book-ad">
      <p><em>The Temple of Django Database Performance</em> is my new book that mashes up tabletop gaming, databases, and Django. Explore a ruined temple while you learn advanced Django database performance tricks!</p>
  <div class="action-button"><a href="https://spellbookpress.com/books/temple-of-django-database-performance/" class="button learn-more text-center">Learn More <i class="fa fa-arrow-right"></i></a> </div>
  </div>
  <image class="book-ad" src="/images/ebook.png" width="50"/>
</div> -->
