/*!------------------------------------------------------------------
[MAIN STYLESHEET]
-------------------------------------------------------------------*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
:: Template name: Clancy
:: Clancy is an elegant portfolio theme for Jekyll designed for photographers, designers, illustrators, artists, creatives, etc. This theme will help you professionally introduce yourself to your visitors and showcase your work in a minimalistic style. This super clean and fully optimized theme can be easily customized to suit your needs.
:: Template Author: Artem Sheludko
:: Version: 1.0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>
:: 1-Tools and Libs
    1.1-Normalize
    1.2-Reset
    1.3-Shared
    1.4-Syntax Highlighting
    1.5-Grid
    1.6-Glightbox
    1.7-Animate
:: 2-Base Styles
    2.1-Base
:: 3-Modules
    3.1-Scroll Button Top
    3.2-Header
    3.3-Pagination
    3.4-Footer
    3.5-Gallery
    3.6-Section-Hero
    3.7-Section-Portfolio
    3.8-Section-Subscribe
    3.9-Sections
    3.10-Article
    3.11-Contact
:: 4-Layouts
    4.1-Home Page
    4.2-Post Page
    4.3-Tags Page
<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


@import '0-settings/variables';
@import '0-settings/color-scheme';
@import '0-settings/mixins';
@import '0-settings/helpers';


/* =======================
:: 1-Tools and Libs
======================= */
/* >>>>>>>>>>>>>> :: 1.1-Normalize <<<<<<<<<<<<<<< */
@import '1-tools/normalize';
/* >>>>>>>>>>>>>> :: 1.2-Reset <<<<<<<<<<<<<<< */
@import '1-tools/reset';
/* >>>>>>>>>>>>>> :: 1.3-Shared <<<<<<<<<<<<<<< */
@import '1-tools/shared';
/* >>>>>>>>>>>>>> :: 1.4-Syntax Highlighting <<<<<<<<<<<<<<< */
@import '1-tools/syntax-highlighting';
/* >>>>>>>>>>>>>> :: 1.5-Grid <<<<<<<<<<<<<<< */
@import '1-tools/grid';
/* >>>>>>>>>>>>>> :: 1.6-Glightbox <<<<<<<<<<<<<<< */
@import '1-tools/glightbox';
/* >>>>>>>>>>>>>> :: 1.7-Animate <<<<<<<<<<<<<<< */
@import '1-tools/animate';


/* =======================
:: 2-Base Styles
======================= */
/* >>>>>>>>>>>>>> :: 2.1-Base <<<<<<<<<<<<<<< */
@import '2-base/base';


/* =======================
:: 3-Modules
======================= */
/* >>>>>>>>>>>>>> :: 3.1-Scroll Button Top <<<<<<<<<<<<<<< */
@import '3-modules/scroll-button-top';
/* >>>>>>>>>>>>>> :: 3.2-Header <<<<<<<<<<<<<<< */
@import '3-modules/header';
/* >>>>>>>>>>>>>> :: 3.3-Pagination <<<<<<<<<<<<<<< */
@import '3-modules/pagination';
/* >>>>>>>>>>>>>> :: 3.4-Footer <<<<<<<<<<<<<<< */
@import '3-modules/footer';
/* >>>>>>>>>>>>>> :: 3.5-Gallery <<<<<<<<<<<<<<< */
@import '3-modules/gallery';
/* >>>>>>>>>>>>>> :: 3.6-Section-Hero <<<<<<<<<<<<<<< */
@import '3-modules/section-hero';
/* >>>>>>>>>>>>>> :: 3.7-Section-Portfolio <<<<<<<<<<<<<<< */
@import '3-modules/section-portfolio';
/* >>>>>>>>>>>>>> :: 3.8-Section-Subscribe <<<<<<<<<<<<<<< */
@import '3-modules/section-subscribe';
/* >>>>>>>>>>>>>> :: 3.9-Sections <<<<<<<<<<<<<<< */
@import '3-modules/sections';
/* >>>>>>>>>>>>>> :: 3.10-Article <<<<<<<<<<<<<<< */
@import '3-modules/article';
/* >>>>>>>>>>>>>> :: 3.11-Contact <<<<<<<<<<<<<<< */
@import '3-modules/contact';


/* =======================
:: 4-Layouts
======================= */
/* >>>>>>>>>>>>>> :: 4.1-Post <<<<<<<<<<<<<<< */
@import '4-layouts/post';
/* >>>>>>>>>>>>>> :: 4.2-Tags Page <<<<<<<<<<<<<<< */
@import '4-layouts/tags-page';


.full-size-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    //padding-top: 25px;
    height: 0;
    margin-bottom: 35px;
}

.full-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
